html{
    width:100%;
    height:100%;
    position: relative;
    overflow: hidden;
    font-size: 65%;
}

*{
    margin: 0;
    padding: 0;
}


::-webkit-input-placeholder { /* WebKit browsers */
    color:    #999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #999;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #999;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #999;
}


.error::-webkit-input-placeholder { /* WebKit browsers */
    color:    #f00;
}
.error:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #f00;
}
.error::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #f00;
}
.error:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #f00;
}


/* 框架样式 */

/* ------- function 功能样式 ------- */
.f-ofh {overflow: hidden; height: 100%!important; }         /*隐藏内容-overflow-hidden*/
.f-hide { display: none!important; }                        /*隐藏内容*/


/* ------- Layout 布局样式 ------- */
.p-ct { position: relative; width: 100%; height: 100%; overflow: hidden; z-index: 8; }
.p-ct.fixed { overflow: hidden; }


/* ------- modle 模块样式 ------- */
.m-page { position: absolute; top:0; left: 0; width:100%; height:100%; background: #fff; }
.m-page .page-con { position: relative; width: 100%; height: 100%; overflow: hidden; text-align: center; }
.m-page.active { z-index:40; }
.m-page.fixed { position: fixed; }
.m-page.move {
    -webkit-transition:all 0.3s;
       -moz-transition:all 0.3s;
        -ms-transition:all 0.3s;
         -o-transition:all 0.3s;
            transition:all 0.3s;
}

.translate-back{
  width:100%;
  height:100%;
}



.page{
    width:100%;
    height:100%;
    overflow: auto;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
}

.modelList,.product{
    width:100%;
    display: inline-block;
    text-align: center;
}

.modelList{
    height:100%;
    overflow: auto;
}

.modelList li{
    width: 32%;
    margin: 0.6%;
    display: inline-block;
    line-height: 0;
    position: relative;;
}

.product li{
    width: 30%;
    margin: 1% 5%;
    display: inline-block;
    line-height: 0;
    position: relative;;
}

.modelList li img,.product li img{
    width:100%;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
    background: url("../images/arr_r.png") no-repeat;
    background-size: auto 100%;
}


/* model详细 */
#model-detail{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    background: #fff;
    display: none;
}

.swiper-container,.swiper-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
}

.swiper-wrapper{
    line-height: 0;
}

.swiper-slide{
    width: 100%;
    background: #333;
    text-align: center;
}

.swiper-slide p{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    padding: 2em 0;
    background: rgba(0,0,0,0.2);
    color:#fff;
    font-size: 14px;
}

.product{
    margin: 5% 0;
    display: inline-block;
}

.product li p{
    width: 100%;
    text-align: center;
    padding: 1em 0;
    color:#bdb7a9;
    font-size: 14px;
}

.swiper-slide img{
    width:auto;
    height:100%;
}

.butArea{
    width:80%;
    position: absolute;
    left: 50%;
    bottom: 2em;
    margin: 0 0 0 -40%;
    text-align: center;
}

.btn{
    width:42%;
    padding: 7px 0;
    display: inline-block;
    background: #a09a8c;
    color:#fff;
    font-size: 16px;
    margin: 2% 3%;
    text-align: center;
    border-radius: 6px;
    -moz-box-shadow:-1px -1px 1px #837f76 inset;            
    -webkit-box-shadow:-1px -1px 1px #837f76 inset;         
    box-shadow:-1px -1px 1px #837f76 inset; 
}


.loading{
    width: 100px;
    height: 100px;
    background: #f1f1f1;
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -50px 0 0 -50px;
    z-index: 100;
    color: #fff;
    text-align: center;
    line-height: 100px;
    font-size: 27px;
    display: none;
}

.close{
    width:60px;
    height: 60px;
    background: url("../images/close.png") no-repeat center;
    background-size: 56% auto;
    position: absolute;
    right: 0.6em;
    top: 0.6em;
    z-index: 9;
}




/* form */
#dreambox{
    width:100%;
    height:100%;
    position: relative;
}

.header{
    width:100%;
    text-align: center;
    padding: 1.8em 0;
    display: inline-block;
    float: left;
}

.logo{
    width:42%;
    display: inline-block;
}


.container{
    width:100%;
    float: left;
    display: inline-block;
    text-align: center;
}

.container .con{
    width:90%;
    display: inline-block;
}

.con.form{
    font-size: 14px;
    line-height: 22px;
    text-align: center;
}

.form_list,.form_list li{
    width:100%;
    display: inline-block;
    padding: 10px 0;
}

.form_list{
    width:90%;
}

.form_list li span{
    width:32%;
    float: left;
    display: inline-block;
    font-size: 16px;
    color:#646464;
    height: 36px;
    line-height: 36px;
}

.form_list li span img{
    width:27%;
    display: inline-block;
    vertical-align: middle;
    margin: 0 2px 0 0;
}

.form_list li input{
    width:67%;
    float: right;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    border:1px #e2e2e2 solid;
    background: #fafafa;
    vertical-align: middle;
    padding: 0 6px;
    border-radius: 6px;
}

.footer{
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 1em;
    text-align: center;
}

.form_btn{
    width:42%;
    padding: 6px 0;
    display: inline-block;
    background: #fff;
    color:#a09a8e;
    font-size: 18px;
    margin: 0 0 6% 0;
    text-align: center;
    border:1px #c3bbae solid;
}






/* 横屏css */

#heng{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    background: #fffdfd url("../images/heng.png") no-repeat center;
    background-size: 70% auto;
    top: 0;
    left: 0;
    display: none;
}


